.place__title {
  grid-area: title;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .place__title  {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title  {
    margin-top: 7px;
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 600px) {
  .place__title  {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__title  {
    font-weight: 900;
    margin-top: 2px;
  }
}
