.lead__image {
  margin: 0;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    padding-top: 0px;
  }
}
