.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  max-width: 360px;
  margin: 0 auto;
  color:rgba(255, 255, 255, 1);
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
