.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  color:rgba(255, 255, 255, 1);
}

@media screen and (max-width:600px) {
  .cover__title {
   max-width: 288px;
   font-size: 32px;
   line-height: 35px;
  }
}

@media screen and (max-width:400px) {
  .cover__title {
    max-width: 250px;
  }
}
