.intro {
  max-width: 1004px;
  margin: 92px auto;
}

@media screen and (max-width:1200px) {
  .intro {
  max-width: 928px;
  }
}

@media screen and (max-width:1023px) {
  .intro {
  max-width: 720px;
  }
}

@media screen and (max-width:767px) {
  .intro {
  max-width: 288px;
  margin: 64px auto;
  }
}
