.place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "title website"
  "image container"
  "image container";
}

@media screen and (max-width: 1024px) {
  .place {
    display: grid;
    gap: 38px 32px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "title website"
    "image container"
    "image container";
  }

}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
    gap: 89px 29px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "title website"
    "image container"
    "image container";
  }

}

@media screen and (max-width: 610px) {
  .place {
    justify-content: center;
    row-gap: 32px;
    column-gap: 0;
    grid-template-columns: 1, auto;
    grid-template-areas:
    "title"
    "website"
    "image"
    "container";
  }
}

@media screen and (max-width: 320px){
  .place  {
    width: 320px;
    gap: 0px;
    display: grid;
    grid-template-columns: 1, auto;
    grid-template-areas:
    "title"
    "website"
    "image"
    "container";
  }
}
