.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    padding-top: 88px;
    max-width: 720px;
    font-size: 44px;
    line-height: 48px;
  }
}

@media screen and (max-width: 400px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-top: 64px;
  }
}

